body {
    background-color: #CAF0F8 !important;
    font-family: Arial, sans-serif;
}

.welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


/* Define la animaci칩n */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Comienza un poco m치s arriba */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Termina en su posici칩n original */
    }
}

.welcome-message {
    font-size: 30px;
    font-weight: bold;
    color: #0277bd;
   margin-top: -90px;
   margin-right: 10px;
    animation: fadeIn 1.3s ease-in-out; /* Aplica la animaci칩n */
}

.container {
    margin-top: 10px;   
}

.card {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #90caf9;
    border-radius: 10px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    color: #0277bd;
}

